#divOne{
 font-family: Verdana;
 font-weight: italic;
 font-size:14px;
 color:white;
 background-color:black;
 height:120px;
 width : auto;
}  
#divTwo{
 font-family: Times New Roman;
 font-weight: bold;
 font-size:16px;
 color:white;
 background-color:purple;
 height:120px;
 width : auto;
}
.deco{
border-radius:35px;
border:1px dotted gold ;
 padding:20px;
 margin:15px;
}
h1{
 background-color:rgba(180,15,150,0.5);
 color:white;
}
.btn{ height:40px; width:auto;
 border-radius:35px;
background-color:green;
}
